doctype html
html(lang="en")
    head
        title= 'htask3'
        link(href='css/main.css' rel='stylesheet')
    body
        .content
            .links
                header
                    h1 Киноглушитель
                section
                    form
                        input(type=text)
                        input
                        input
                        button
